@model IEnumerable<Post>
@{
ViewData["Title"] = "Admin Panel";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Admin Panel!</h1>
</div>

<div class="current-status-admin">
    <h2>Current Status</h2>
    @if (ViewBag.CurrentStatus != null)
    {
    <div id="status-@ViewBag.CurrentStatus.Id">
        <p class="status-content">@ViewBag.CurrentStatus.Content</p>
        <p class="status-timestamp">Set on: @ViewBag.CurrentStatus.CreatedAt.ToString("g")</p>
    </div>
    }
    <form asp-action="AddStatus" method="post">
        <textarea name="content" placeholder="Set a new status"></textarea>
        <button type="submit">Set New Status</button>
    </form>
</div>

<div>
    <h2>Blog Posts</h2>
    <ul>
        @foreach (var post in Model)
        {
        <li>
            @post.Title
            -
            <a asp-controller="Panel" asp-action="Edit" asp-route-slug="@post.Slug">
                Edit
            </a>
            -
            <a asp-controller="Panel" asp-action="Remove" asp-route-slug="@post.Slug">
                Remove
            </a>
        </li>
        }
    </ul>
</div>